DEBUG=False
USE_SQLITE=False
POSTGRES_DB=zvuchno_db
POSTGRES_USER=admin
POSTGRES_PASSWORD=12345
POSTGRES_HOST=db
POSTGRES_PORT=5432

ALLOWED_HOSTS=127.0.0.1,zvuchno-dev.duckdns.org,158.160.217.116
CSRF_TRUSTED_ORIGINS=https://zvuchno-dev.duckdns.org
SECRET_KEY=topsecretkey

JWT_ACCESS_MINUTES=30
JWT_REFRESH_DAYS=7

# на PROD заменить. Адреса для примера.
FRONTEND_VERIFY_EMAIL_URL=/verify-email
FRONTEND_RESET_PASSWORD_URL=/reset-password-confirm
FRONTEND_SOCIAL_AUTH_URL=/

GLITCHTIP_DSN=https://somekey@app.glitchtip.com/digits
# 5% запросов для мониторинга.
GLITCHTIP_TRACES_RATE=0.05
# чтобы отличать окружения.
DJANGO_ENV=local

# шифрование чувствительных полей в бд.
FIELD_ENCRYPTION_ENABLED=True
FIELD_ENCRYPTION_KEYS=
