DEBUG=False
USE_SQLITE=False
POSTGRES_DB=zvuchno_db
POSTGRES_USER=admin
POSTGRES_PASSWORD=12345
POSTGRES_HOST=db
POSTGRES_PORT=5432
# Идентификаторы пользователя для корректных прав на файлы
UID=1000
GID=1000

SECRET_KEY=topsecretkey

JWT_ACCESS_MINUTES=30
JWT_REFRESH_DAYS=7

FRONTEND_VERIFY_EMAIL_URL=http://localhost:3000/verify-email
