DEBUG=False
USE_SQLITE=False
POSTGRES_DB=zvuchno_db
POSTGRES_USER=admin
POSTGRES_PASSWORD=12345
POSTGRES_HOST=db
POSTGRES_PORT=5432

ALLOWED_HOSTS=127.0.0.1,zvuchno-dev.duckdns.org,158.160.217.116
CSRF_TRUSTED_ORIGINS=https://zvuchno-dev.duckdns.org
SECRET_KEY=topsecretkey

JWT_ACCESS_MINUTES=30
JWT_REFRESH_DAYS=7

FRONTEND_VERIFY_EMAIL_URL=http://localhost:3000/verify-email
