Django==5.2.12
django-allauth==65.14.3
django-cors-headers==4.9.0
django-filter==25.2
django-modeladmin-reorder @ git+https://github.com/nicolochiellini/django-modeladmin-reorder@2fe2bf5ea17ab21a588682c9c20fe038a4dd4ac5
django-nested-admin==4.1.6
django-phonenumber-field==8.4.0
dj_rest_auth==7.2.0
djangorestframework==3.16.1
djangorestframework_simplejwt==5.5.1
djoser==2.3.3
drf-spectacular==0.29.0
djoser==2.3.3
factory-boy==3.3.3
gunicorn==25.1.0
phonenumbers==9.0.25
pillow==12.1.1
psycopg2-binary==2.9.11
python-dotenv==1.2.2
python-slugify==8.0.4
sentry-sdk==2.58.0
