Django==5.2.12
django-allauth==65.14.3
django-filter==25.2
django-phonenumber-field==8.4.0
djangorestframework==3.16.1
djangorestframework_simplejwt==5.5.1
drf-spectacular==0.29.0
gunicorn==25.1.0
phonenumbers==9.0.25
pillow==12.1.1
psycopg2-binary==2.9.11
python-dotenv==1.2.2
python-slugify==8.0.4
